--find-links https://download.pytorch.org/whl/torch_stable.html

fastapi==0.115.3
fastapi-cli==0.0.5
sqlmodel==0.0.22
psycopg2-binary==2.9.10
python-multipart
ultralytics==8.3.23
langchain==0.2.16
langchain-ollama==0.1.3
pillow